{% extends 'base.html.twig' %}

{% block title %}Sign in
{% endblock %}

{% block body %}
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	<div class="subscribe-container">
		<h1>Subscribe to quizz</h1>

		{{form(form) }}
		</div>


	{% endblock %}
