{% extends 'base.html.twig' %}

{% block title %}Sign in
{% endblock %}

{% block body %}

	<div class="subscribe-container">
		<h1>Subscribe to quizz</h1>

		{{form(form) }}
		</div>


	{% endblock %}
