{% extends 'base.html.twig' %}

{% block title %}HomePage
{% endblock %}

{% block body %}
	{% include 'parts/navbar.html.twig' %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-danger">{{ message }}</div>
	{% endfor %}

	<div class="homelinkcontainer">
		<a href="{{path('play')}}">Jouer</a>
		<a href="{{path('choosesize')}}">Creer un quizz</a>
		<a href="{{path('manage')}}">Gerer vos quizz</a>
	</div>

{% endblock %}
