{% extends 'base.html.twig' %}

{% block title %}HomePage des quizz{% endblock %}

{% block body %}

<div class="quizz-container">

{% for quizz in quizzes %}

<a href="{{path('quizz',{name:quizz.category.name})}}" class="quizz-button">
<img src="{{quizz.imgurl}}" >
</a>

{% endfor %}
</div>

{% endblock %}
