{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
{% include 'parts/navbar.html.twig' %}

<div class="homelinkcontainer">
    <a href="{{path('play')}}">Jouer</a>
    <a href="">Creer/gerer vos quizz</a>
</div>

{% endblock %}
