{% extends 'base.html.twig' %}

{% block title %}Tous les quizzs{% endblock %}

{% block body %}
{% include 'parts/navbar.html.twig' %}

<div class="quizz-container">

{% for quizz in quizzes %}
    {% set userResult = null %}
    {% for result in userResults %} 
        {% if result.quizz.id == quizz.id %}
            {% set userResult = result %}
        {% endif %}
    {% endfor %}
    {% include 'parts/quizzcard.html.twig' with {
        'quizz': quizz,
        'userResult': userResult
    } %}
{% endfor %}
</div>

{% endblock %}
