{% extends 'base.html.twig' %}

{% block title %}HomePage des quizz{% endblock %}

{% block body %}
{% include 'parts/navbar.html.twig' %}

<div class="quizz-container">

{% for quizz in quizzes %}

{% include 'parts/quizzcard.html.twig' with {'quizz' : quizz} %}


{% endfor %}
</div>

{% endblock %}
