body {
    background-color: skyblue;
}

.quizz-container{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.quizz-container > *{
    margin : 2rem;
}

.quizz-button img{
    width: 20rem;
    height: 20rem;
}
