*{
    margin: 0;
    padding: 0;
}

body {
    background-color: skyblue;
}

.quizz-container{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.quizz-container > *{
    margin : 2rem;
}

.quizz-button img{
    width: 20rem;
    height: 20rem;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    padding: 2rem;
}

.user-answer{
    color: yellow;
}

.good-answer{
    background-color: green;
}

.wrong-answer{
    background-color: red;
}