{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau quiz
{% endblock %}

{% block body %}
	{% include 'parts/navbar.html.twig' %}

	<div class="quiz-size-container">
    <h1>Créer un nouveau quiz</h1>
    <p>Choisissez la taille de votre quiz :</p>
    <ul>
        <li><a href="{{ path('create', {'nb': 10}) }}">Petit (10 questions)</a></li>
        <li><a href="{{ path('create', {'nb': 20}) }}">Moyen (20 questions)</a></li>
        <li><a href="{{ path('create', {'nb': 30}) }}">Grand (30 questions)</a></li>
    </ul>
</div>
{% endblock %}
