{% extends 'base.html.twig' %}

{% block title %}Manage quizz
{% endblock %}

{% block body %}
	{% include 'parts/navbar.html.twig' %}

	<h1 class="title-edit">Liste des quizz que vous pouvez modifier</h1>

	{% if quizzes is empty %}
		<p>Aucun quizz à afficher.</p>
	{% else %}
		<div class="grid-edit">
			{% for quizz in quizzes %}
				<div class="manage-card-wrapper">
					{% include 'parts/quizzeditcard.html.twig' with { 'quizz': quizz } %}
					<form method="post" action="{{ path('delete', {'id': quizz.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce quiz ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete_quizz_' ~ quizz.id) }}">
						<button class="btn-danger">Supprimer</button>
					</form>
				</div>

			{% endfor %}

		{% endif %}
	{% endblock %}
