{% extends 'base.html.twig' %}

{% block title %}Manage quizz
{% endblock %}

{% block body %}
	{% include 'parts/navbar.html.twig' %}

	<h1>Liste des quizz que vous pouvez modifier</h1>

	{% if quizzes is empty %}
		<p>Aucun quizz à afficher.</p>
	{% else %}
		<ul>
			{% for quizz in quizzes %}
				<li>
					<strong>{{ quizz.title }}</strong><br>
					Créé par :
					{{ quizz.author.name }}<br>

					{% if is_granted('QUIZ_EDIT', quizz) %}
						<a href="" class="">
							Modifier
						</a>
					{% endif %}
				</li>
				<hr>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
