{% extends 'base.html.twig' %}

{% block title %}Manage quizz
{% endblock %}

{% block body %}
	{% include 'parts/navbar.html.twig' %}

	<h1 class="title-edit">Liste des quizz que vous pouvez modifier</h1>

	{% if quizzes is empty %}
		<p>Aucun quizz à afficher.</p>
	{% else %}
		<div class="grid-edit">
			{% for quizz in quizzes %}

				{% include 'parts/quizzeditcard.html.twig' with {
        'quizz': quizz,
    } %}
			{% endfor %}

		{% endif %}
	{% endblock %}
