<div class="quizz-card ">

	<a href="{{path('edit',{id:quizz.id})}}" class="quizz-button disabled">
		<div style="background:center / cover no-repeat url('{{ asset(quizz.imgUrl) }}')   ;" >
			<p>Editer</p>
		</div>
		<p class="card-text">{{ quizz.title }}</p>
	</a>
</div>
