{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}

<form method="POST" action="{{ path('submit', { id: question.quizz.id }) }}">
    <h2>{{question.content}}</h2>
    
    {% for answer in question.answers %}
        <div>
            <input type="radio" name="answer" value="{{ answer.isCorrect }}" required>
            {{ answer.content }}
        </div>
    {% endfor %}

    <button type="submit">Valider</button>
</form>

{% endblock %}